# --- NETWORK IDS ---
VITE_SEPOLIA_CHAIN_ID=11155111
VITE_HOODI_CHAIN_ID=560048
VITE_BASE_CHAIN_ID=84532

# --- RPC URLs ---
VITE_SEPOLIA_RPC_URL=RPC_SEPOLIA_TESTNET
VITE_HOODI_RPC_URL=RPC_HOODI_TESTNET
VITE_BASE_RPC_URL=RPC_BASE_SEPOLIA_TESTNET

# --- CONTRACT ADDRESSES ---
# Original Token (MRT)
VITE_CONTRACT_SEPOLIA_TOKEN=ALAMAT_KONTRAK_TOKEN_ASLI_SEPOLIA_TESTNET
# Vault Contract
VITE_CONTRACT_SEPOLIA_VAULT=ALAMAT_KONTRAK_TOKEN_VAULT

# Wrapped Token (wMRT)
VITE_CONTRACT_HOODI_WMRT=ALAMAT_KONTRAK_WRAPPED_HOODI_TESTNET
VITE_CONTRACT_BASE_WMRT=ALAMAT_KONTRAK_WRAPPED_BASE_SEPOLIA_TESTNET
VITE_CONTRACT_OP_WMRT=ALAMAT_KONTRAK_WRAPPED_OPTIMISM_SEPOLIA_TESTNET
VITE_CONTRACT_ARB_WMRT=ALAMAT_KONTRAK_WRAPPED_ARBITRUM_SEPOLIA_TESTNET

# --- DEX AMM CONTRACTS ---
VITE_CONTRACT_SEPOLIA_DEX=ALAMAT_KONTRAK_SWAPTOKEN_SEPOLIA_TESTNET
VITE_CONTRACT_HOODI_DEX=ALAMAT_KONTRAK_SWAPTOKEN_HOODI_TESTNET
VITE_CONTRACT_BASE_DEX=ALAMAT_KONTRAK_SWAPTOKEN_BASE_SEPOLIA_TESTNET
VITE_CONTRACT_OP_DEX=ALAMAT_KONTRAK_SWAPTOKEN_OPTIMISM_SEPOLIA_TESTNET
VITE_CONTRACT_ARB_DEX=ALAMAT_KONTRAK_SWAPTOKEN_ARBITRUM_SEPOLIA_TESTNET

VITE_CONTRACT_SEPOLIA_STABLE=ALAMAT_KONTRAK_STABLESWAP_SEPOLIA_TESTNET
VITE_CONTRACT_SEPOLIA_MRTT=ALAMAT_KONTRAK_THETERMRT_SEPOLIA_TESTNET
VITE_CONTRACT_SEPOLIA_MRTC=ALAMAT_KONTRAK_MRTCOIN_SEPOLIA_TESTNET

# --- NFT CONFIGURATION ---
VITE_CONTRACT_SEPOLIA_NFT=ALAMAT_KONTRAK_NFT_ASLI_SEPOLIA_TESTNET
VITE_CONTRACT_SEPOLIA_NFT_VAULT=ALAMAT_KONTRAK_NFT_VAULT
VITE_CONTRACT_HOODI_WNFT=ALAMAT_KONTRAK_WRAPPED_NFT_HOODI_TESTNET
VITE_CONTRACT_BASE_WNFT=ALAMAT_KONTRAK_WRAPPED_NFT_BASE_SEPOLIA_TESTNET
VITE_CONTRACT_OP_WNFT=ALAMAT_KONTRAK_WRAPPED_NFT_OPTIMISM_SEPOLIA_TESTNET
VITE_CONTRACT_ARB_WNFT=ALAMAT_KONTRAK_WRAPPED_NFT_ARBITRUM_SEPOLIA_TESTNET

VITE_PINATA_JWT=KODE_JWT_PINATA

VITE_WATCHER_API_URL=API_WATCHER

VITE_WATCHER_API_KEY=SECRET_KEY_WATCHER